<h2 class="page-header">Search Books</h2>
<form action="/books" method="get">
  <div class="form-row">
    <div class="form-item">
      <label for="">Title:</label>
      <input
        type="search"
        name="bookTitle"
        id="bookTitle"
        value="<%=searchOptions.bookTitle%>"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
      <label for="">Published Before:</label>
      <input
        type="date"
        name="publishedBefore"
        id="publishedBefore"
        value="<%=searchOptions.publishedBefore%>"
      />
    </div>
    <div class="form-item">
      <label for="">Published After:</label>
      <input
        type="date"
        name="publishedAfter"
        id="publishedAfter"
        value="<%=searchOptions.publishedAfter%>"
      />
    </div>
  </div>

  <div class="form-row form-row-end">
    <input type="submit" value="Search" class="btn btn-primary" />
  </div>
</form>
<br />
<%- include('../partials/bookListShow.ejs',{large:true}) %>
