<h2>Edit Book</h2>
<form action="/books/<%= book.id  %>?_method=PUT" method="post">
  <%- include('./books_formFields.ejs')%>
  <a href="/books">Cancel</a>
  <button type="submit">Update</button>
</form>
