<% bookCoverClass = locals.large ? 'book-cover-large': ''%> 
<% bookGridClass = locals.large ? 'book-grid-large': ''%>
<div class="book-grid <%= bookGridClass %>">
  <% booksList.forEach(book => {%>
  <a href="/books/<%= book._id %>">
    <img
      class="book-cover <%= bookCoverClass %>"
      alt="Book Cover"
      src="<%= book.coverImagePath %>"
    />&nbsp&nbsp&nbsp <% }); %>
  </a>
</div>
