<header>
  <div><a href="/" class="logo">MyLibrary</a></div>
  <nav class="header-nav">
    <ul>
      <li class="header-link"><a href="/authers/">Authers</a></li>
      <li class="header-link"><a href="/authers/new">Add Authers</a></li>
      <li class="header-link"><a href="/books/">Books</a></li>
      <li class="header-link"><a href="/books/new">Add books</a></li>
    </ul>
  </nav>
</header>
