<header>
    <div class="logo"><a href="/">MyDynamic</a></div>
    <nav>
        <ul>
            <li><a href="/authers/">Authers</a></li>
            <li><a href="/authers/new">Add Authers</a></li>
        </ul>
    </nav>
</header>