<h2>Search Auther</h2>
<form action="/authers" method="get">
  <label for="autherName">Name</label>
  <input type="search" name="autherName" id="autherName" value="<%= searchOptions.name%>" />
  <button type="submit">Search</button>
</form>
<br />
<% authersList.forEach(element => {%>
    <div><%= element.name %></div>
<% }); %>
