<h2><%= autherData.name %></h2>
<a href="/authers/<%= autherData.id  %>/edit">Edit</a>
<%- include('../partials/deleteForm.ejs', {url:`/authers/${autherData.id}`}) %>
<% if (booksByAuther.length > 0) { %>
<h2>Books by auther</h2>
<%- include('../partials/bookListShow.ejs',{booksList: booksByAuther}) %> <% }
%>
