<h2><%= autherData.name %></h2>
<div class="btn-row">
  <a class="btn btn-primary" href="/authers/<%= autherData.id  %>/edit">Edit</a>
  <%- include('../partials/deleteForm.ejs', {url:`/authers/${autherData.id}`})
  %>
</div>
<% if (booksByAuther.length > 0) { %>
<h2 class="page-header">Books by auther</h2>
<%- include('../partials/bookListShow.ejs',{booksList: booksByAuther}) %> <% }
%>
